profiles {
    kres_sb {
        //===================
        // Local parameters
        //===================
        params.amrfinderplus_db           = "/bigdata/Jessin/Softwares/Database/amrfinderplus/latest"
        params.mlst_db                    = "/bigdata/Jessin/Softwares/Database/mlst"
        params.bakta_db                   = "/bigdata/Jessin/Softwares/bakta_db/db"
        params.plasmidfinder_db           = "/bigdata/Jessin/Softwares/anaconda3/envs/pipeline/share/plasmidfinder-2.1.6/database"
        params.mlst_db                    = "/bigdata/Jessin/Softwares/Database/mlst/"

        //===================
        // Singularity parameters
        //===================
        singularity.enabled     = false
        singularity.autoMounts  = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = true
        apptainer.autoMounts    = true

        //===================
        // Local resources
        //===================
        process {
            withName: NANOSTAT_RAW {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: NANOSTAT_TRIMMED {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: HYBRACTER_HYBRID {
                executor = 'local'
                cpus = 4
                memory = '24GB'
                time = '3h'
            }
            withName: HYBRACTER_LONG {
                executor = 'local'
                cpus = 4
                memory = '24GB'
                time = '3h'
            }
            withName: SHOVILL {
                executor = 'local'
                cpus = 4
                memory = '24GB'
                time = '1h'
            }
            withName: QUAST {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: FASTQC {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: FASTP {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: BBMAP_ALIGN {
                executor = 'local'
                cpus = 4
                memory = '8GB'
                time = '1h'
            }
            withName: MLST {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: RMLST {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: KLEBORATE {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: AMRFINDERPLUS_RUN {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: LRE_FINDER {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: PLASMIDFINDER {
                executor = 'local'
                cpus = 2
                memory = '2GB'
                time = '30m'
            }
            withName: BAKTA {
                executor = 'local'
                cpus = 4
                memory = '20GB'
                time = '1h'
            }
        }
    }
}
